html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0);
    color: white;
}

.hidden {
    transform: scaleX(0);
}

#root {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.test {
    font-size: 100px;
}